            :root {
                --dark-navy: #020c1b;
                --navy: #0a192f;
                --light-navy: #112240;
                --lightest-navy: #233554;
                --navy-shadow: rgba(2,12,27,0.7);
                --dark-slate: #495670;
                --slate: #8892b0;
                --light-slate: #a8b2d1;
                --lightest-slate: #ccd6f6;
                --white: #e6f1ff;
                --green: #64ffda;
                --green-tint: rgba(100,255,218,0.1);
                --pink: #f57dff;
                --blue: #57cbff;
                --font-sans: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
                --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
                --fz-xxs: 12px;
                --fz-xs: 13px;
                --fz-sm: 14px;
                --fz-md: 16px;
                --fz-lg: 18px;
                --fz-xl: 20px;
                --fz-xxl: 22px;
                --fz-heading: 32px;
                --border-radius: 4px;
                --nav-height: 100px;
                --nav-scroll-height: 70px;
                --tab-height: 42px;
                --tab-width: 120px;
                --easing: cubic-bezier(0.645,0.045,0.355,1);
                --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
                --hamburger-width: 30px;
                --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
                --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
                --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
                --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
            }

            /*!sc*/
            html {
                box-sizing: border-box;
                width: 100%;
                -webkit-scroll-behavior: smooth;
                -moz-scroll-behavior: smooth;
                -ms-scroll-behavior: smooth;
                scroll-behavior: smooth;
            }

            /*!sc*/
            *,*:before,*:after {
                box-sizing: inherit;
            }

            /*!sc*/
            ::selection {
                background-color: var(--lightest-navy);
                color: var(--lightest-slate);
            }

            /*!sc*/
            :focus {
                outline: 2px dashed var(--green);
                outline-offset: 3px;
            }

            /*!sc*/
            :focus:not(:focus-visible) {
                outline: none;
                outline-offset: 0px;
            }

            /*!sc*/
            :focus-visible {
                outline: 2px dashed var(--green);
                outline-offset: 3px;
            }

            /*!sc*/
            html {
                -webkit-scrollbar-width: thin;
                -moz-scrollbar-width: thin;
                -ms-scrollbar-width: thin;
                scrollbar-width: thin;
                -webkit-scrollbar-color: var(--dark-slate) var(--navy);
                -moz-scrollbar-color: var(--dark-slate) var(--navy);
                -ms-scrollbar-color: var(--dark-slate) var(--navy);
                scrollbar-color: var(--dark-slate) var(--navy);
            }

            /*!sc*/
            ::-webkit-scrollbar {
                width: 12px;
            }

            /*!sc*/
            ::-webkit-scrollbar-track {
                background: var(--navy);
            }

            /*!sc*/
            ::-webkit-scrollbar-thumb {
                background-color: var(--dark-slate);
                border: 3px solid var(--navy);
                border-radius: 10px;
            }

            /*!sc*/
            body {
                margin: 0;
                width: 100%;
                min-height: 100%;
                overflow-x: hidden;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                background-color: var(--navy);
                color: var(--slate);
                font-family: var(--font-sans);
                font-size: var(--fz-xl);
                line-height: 1.3;
            }

            /*!sc*/
            @media (max-width: 480px) {
                body {
                    font-size:var(--fz-lg);
                }
            }

            /*!sc*/
            body.hidden {
                overflow: hidden;
            }

            /*!sc*/
            body.blur {
                overflow: hidden;
            }

            /*!sc*/
            body.blur header {
                background-color: transparent;
            }

            /*!sc*/
            body.blur #content > * {
                -webkit-filter: blur(5px) brightness(0.7);
                filter: blur(5px) brightness(0.7);
                -webkit-transition: var(--transition);
                transition: var(--transition);
                pointer-events: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            /*!sc*/
            #root {
                min-height: 100vh;
                display: grid;
                grid-template-rows: 1fr auto;
                grid-template-columns: 100%;
            }

            h1,h2,h3,h4,h5,h6 {
                margin: 0 0 10px 0;
                font-weight: 600;
                color: var(--lightest-slate);
                line-height: 1.1;
            }

    .experience {
  display: flex;
}
.container{
    margin:5em 9em;
    border-width: 0;
    position: relative;
}
.hero{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 2px; */
    margin-top: 9em;
    margin-bottom: 5em;
}
.hero h1{
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-top: -20px;
    text-align: left;
}    
.hero h3{
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-top: -20px;
    text-align: left;
    color: #64ffda;
}
.hero p{
    font-size: 1em;
    margin-bottom: 1.5em;
    text-align: left;
    margin-top: -10px;
    line-height: 5vh;
    width: 60%;
    color: #a9abba;
}
.hero-section2{
    display: flex;
    /* width: 100%;     */
    /* justify-content: space-between; */
}
.hero-mini1 {
    width: 100%;
}
.hero-mini1 p{
    width: 35em;
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: 1.5em;
    text-align: justify;
    margin-top: -10px;
    line-height: 4vh;
    color: #a9abba;
}
.hero-img{
    width: 100%;
}
.hero-img img{
    width: 80%;
    margin-left: 5em;
    height: 35%;
    border-radius: 5px;
}
.bulletin{
    display: flex;
    justify-content: space-between;
}
.bulletin-mini{
    width: 50%;
}
.bulletin-mini li{
    list-style: none;
    font-size: 0.9em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #a9abba;
}
.bulletin-mini li i{
    color: #64ffda;
    font-size: 0.7em;
    margin-right: 5px;
}
.hero-2{
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 3em;
}
.hero-section1{
  /* margin-left: -1em; */
  font-size: 1em;
  text-align: left;
  /* display: inline-flex; */
  position: relative;
  padding-bottom: 5px;

}
.hero-section1 p{
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 3em;
    color: #64ffda;
}
.hero-section1 span{
    margin-left: 10px;
    /* font-size: 1.5em; */
    font-weight: 600;
    color: #e6f1ff;
}
.hero-section1 .span-text{
    color: #64ffda;
    margin-right: 1em;
    margin-top: 3px;
}
.hero-section1 ::after{
    /* border:  8px solid white; */
    content: "";
    display: block;
    /* width: 10px; */
    height: 2px;
    margin-top: -15px;
    margin-left: 90px;
}
.border-style{
    width: 10em;
    border-top: 0em solid red;
    border-bottom: 0.1px solid rgb(245, 242, 242);
    background-color: transparent;
    border-right: 0px solid red;
    border-left: 0em solid red;
    /* margin-left: ; */
    /* margin-top: -5em; */
}
.hero-3{
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 8em;
}
.hero-3-sub1{
    display: flex;
}
.companies {
  display: flex;
  color: blue;
  flex-direction: column;
  border-right: 2px solid #222;
}
.experience{
  border-left: 2px solid white; 

}
.tab {
  background: none;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  border-left: 3px solid transparent;
  transition: border-color 0.2s;
}

.tab.active {
  color: #00ffae; /* highlight color */
  border-left: 2px solid #00ffae;
  margin-left: -2px;
}

.details {
  padding: 0 5px;
  width: 100%;
  flex: 1;
}
.details h3 {
  margin-left:1em;
  font-size: 14px;
  color: #ccd6f6;
}
.details ul li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 0.7em;
    width: 30em;
    /* margin-left: 5em; */
    text-align: left;
}
.details ul li span{
    padding-right: 1em;
}
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
  width: 60%;
}
.hero-4{
    margin: 2em;
}
.hero-4 .card{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card .card-img{
    position: relative;
    width: 100%;
}
.card .card-img img{
    cursor: pointer;
    width: 28em;
    height: 80%;
    border-radius: 5px;
    filter: blur(2px);
  transition: filter 0.3s ease;
}

.card-img img:hover {
  filter: blur(0);
}
.card .card-content{
    position: absolute;
    top: 95em;
    right: -80px;
    /* width: 50%; */
    /* margin-left: 2em; */
}



.card .card-content h3{
    font-size: 1.5em;
    text-align: right;
    color: #e6f1ff;
    margin-bottom: 0.5em;
}
.card .card-content p{
    
    font-size: 0.7em;
    border: 1px solid #0b0b25;
    background-color: #0b0b25;
    border-radius: 5px;
    color: #a9abba;
    width: 33em;
    /* height: 12vh; */
    text-align: right;
    padding-right:1em;
    padding-bottom: 1%;
    padding-top: 1em;
    padding-left: 1em;
    margin-bottom: 1.5em;
    line-height: 5vh;
}
.card .card-content a{
    text-decoration: none;
    font-size: 0.8em;
    color: #64ffda;
    border: 1px solid #64ffda;
    padding: 10px 15px;
    border-radius: 5px;
    float: right;
}
.hero-4 .card-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5em;
}
.card-2 .card-content{
    position: absolute;
    top: 122em;
    left: 80px;
    z-index: 1;
    /* width: 50%; */
    /* margin-left: 2em; */
}
.card-2 .card-img{
    position: relative;
    z-index: -1;
    margin-left:23em;
    width: 100%;
}
.card-2 .card-img img{
    float: right;
    /* margin-left: 10em; */
    cursor: pointer;
    width: 26em;
    height: 80%;
    border-radius: 5px;
    filter: blur(3px);
  transition: filter 0.3s ease;
}
.card-2 .card-img img:hover {
  filter: blur(0);
}
.card-2 .card-content p{
    
    font-size: 0.7em;
    border: 1px solid #0b0b25;
    background-color: #0b0b25;
    border-radius: 5px;
    color: #a9abba;
    width: 33em;
    /* height: 12vh; */
    text-align: right;
    padding-right:1em;
    padding-bottom: 1%;
    padding-top: 1em;
    padding-left: 1em;
    margin-bottom: 1.5em;
    line-height: 5vh;
}
.card-2 .card-content a{
    text-decoration: none;
    font-size: 0.8em;
    color: #64ffda;
    border: 1px solid #64ffda;
    padding: 10px 15px;
    border-radius: 5px;
    float: left;
}

.absolute{
    position: fixed;
    bottom: -55px;
    left: 40px;
    width: 0em;
    /* margin:0em 2em; */
}
.social-links {
  display: grid;
  gap: 10px;
  margin-top: 40px;
}
.social-links a i{
  text-decoration: none;
  font-size: 0.7em;
}
.social {
  font-size: 24px;
  color: #ccd6f6;
  transition: color 0.3s ease;
}

.social.github:hover {
  color: #333; /* GitHub black */
}
.social.twitter:hover {
  color: #1da1f2; /* Twitter blue */
}
.social.linkedin:hover {
  color: #0077b5; /* LinkedIn blue */
}
.social.instagram:hover {
  color: #e1306c; /* Instagram pink */
}



.line{
  margin-left: 1px;
  /* display: inline-block; */
  position: relative;
  /* padding-bottom: 5px; */
    margin-top: -1px;
}
.line ::after{
    /* border:  8px solid white; */
    content: "";
    display: block;
    /* width: 10px; */
    height: 150px;
    margin-top: -25px;
    margin-left: 2px;
}
.line .border-style{
    border-top: 0em solid red;
    border-bottom: 0px solid white;
    border-right: 0px solid red;
    border-left: 1px solid white;
    /* margin-left: ; */
    /* margin-top: -5em; */
}




.header {
  padding: 60px 20px;
  background: #0a192f;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar {
    margin-top: -1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  gap: 20px;
}
.nav-links a {
  color: #ccd6f6;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: #64ffda;
}
.nav-links button {
  padding: 8px 16px;
  border: 1px solid #64ffda;
  background: none;
  color: #64ffda;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-links button:hover {
  background-color: #64ffda;
  color: #0a192f;
}
.nav-links a span {
  color: #64ffda;
  margin-right: 8px;
}
.logo {
  margin: 0;
  font-size: 20px;
  color: #64ffda;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #64ffda;
  border-radius: 2px;
}

/* Sidebar menu */
.nav-menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 70%;
  max-width: 300px;
  background: #112240;
  display: flex;
  flex-direction: column;
  padding: 80px 20px;
  transition: right 0.3s ease-in-out;
}

.nav-menu.active {
  right: 0;
}

.nav-menu a {
  color: #ccd6f6;
  text-decoration: none;
  margin: 20px 0;
  font-size: 18px;
}

.nav-menu a span {
  color: #64ffda;
  margin-right: 8px;
}

.nav-menu button {
  padding: 8px 16px;
  border: 1px solid #64ffda;
  background: none;
  color: #64ffda;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 28px;
  color: #64ffda;
  cursor: pointer;
}

.btn-dwn ::before {
    content: "";
    position: absolute;
    top: -6px;
    left:-6px;
    width: calc(100% + 8px);
    height:calc(100% + 8px);
    border: 1px solid blue;
    border-radius: 4px;
    transform: translate(6px, 6px);
    transition: opacity 0.3s ease;
    z-index: -1;
    opacity: 0;
}
 .btn-dwn:hover{
    background: rgba(100,255,218,0.5);
    /* box-shadow: 0 0 12px #64ffda; */
    /* transform: translateY(-2px); */
    /* background-color: #64ffda; */
}
.btn-dwn :hover ::before{
    opacity: 1;
}
.btn-dwn{
    position: relative;
    background: transparent;
    z-index: 1;
    /* width: 18%; */
    padding: 14px 28px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: #64ffda;
    
    border: 1px solid #64ffda;
    transition: all 0.3s ease, background 0.3s ease;
}
/* Show hamburger only on mobile */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
  .hamburger {
    display: flex;
  }
  .social{
    display: none;
  }
  .container{
    margin:5em 2em;
    border-width: 0;
    width: 100%;
    position: relative;
}
  .hero h1{
    margin-top: 5em;
    width: 100%;
    font-size: 2.5em;
  } 
}



@media (max-width:900px){.hero{grid-template-columns:1fr;}}